<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<style>
			.hide {
				display: none;
			}
		</style>
	</head>
	<body>
		<p>this is a paragraph</p>
		<p class="hide">this is a</p>
		<p>this</p>
		<p>paragraph</p>
		<p class="hide">a</p>

		<div>this is a paragraph</div>
		<div class="hide">this is a</div>
		<div>this</div>
		<div>paragraph</div>
		<div class="hide">a</div>

		<div>this is a paragraph</div>
		<div class="hide">this is a</div>
		<div>this</div>
		<div>paragraph</div>
		<div class="hide">a</div>

		<div id="container-1">
			<div>&nbsp;this is a paragraph&nbsp;</div>
			<div class="hide">&nbsp;this is a&nbsp;</div>
			<div>&nbsp;this&nbsp;</div>
			<div>&nbsp;paragraph&nbsp;</div>
			<div class="hide">&nbsp;a&nbsp;</div>
		</div>
	</body>
</html>
