<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="container-1">
		<label style="display: none;">label text 1</label>
		<label style="display: none;">label text 2</label>
		<label>label text 3</label>
		<label>label text 4</label>
		<span>label text 5</span>
	</div>

	<div id="container-2">
		<label style="display: none;">label text 6</label>
		<label style="display: none;">label text 7</label>
		<label>label text 8</label>
		<label>label text 9</label>
		<span>label text 10</span>
	</div>
</body>
</html>
