<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<style>
			.hide {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="containter-1">
			<div id="container-1-1">
				<label id="lbl-1">text 1</label>
				<a id="link-1"></a>
				<a id="link-2"></a>
				<a id="link-3"></a>
				<a id="link-4"></a>
			</div>
			<div id="container-1-2">
				<label id="lbl-2">text</label>
				<a id="link-5"></a>
				<a id="link-6"></a>
				<a id="link-7"></a>
				<a id="link-8"></a>
			</div>
		</div>

		<div id="container-2">
			<div id="container-2-1">
				<label id="lbl-3">text 1</label>
				<a id="link-9"></a>
				<a id="link-10"></a>
				<a id="link-11"></a>
				<a id="link-12"></a>
			</div>
			<div id="container-2-2">
				<label id="lbl-4">text</label>
				<a id="link-13"></a>
				<a id="link-14"></a>
				<a id="link-15"></a>
				<a id="link-16"></a>
			</div>
		</div>
		<div id="container-3">
			<div id="container-2-1">
				<label id="lbl-3" class="hide">text 1</label>
				<a id="link-9"></a>
				<a id="link-10"></a>
				<a id="link-11"></a>
				<a id="link-12"></a>
			</div>
			<div id="container-2-2">
				<label id="lbl-4">text 1</label>
				<a id="link-13"></a>
				<a id="link-14"></a>
				<a id="link-15"></a>
				<a id="link-16"></a>
			</div>
		</div>
	</body>
</html>
