<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			.hide {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="container-1">
			<a class="hide">text 1 2</a>
			<a id="link-1">text 1 2</a>
			<a class="hide">text 1</a>
			<a id="link-2">text 1</a>
			<a class="hide">text</a>
			<a id="link-3">text</a>
		</div>
		<div id="container-2">
			<a class="hide">text 1 2</a>
			<a id="link-4">text 1 2</a>
			<a class="hide">text 1</a>
			<a id="link-5">text 1</a>
			<a class="hide">text</a>
			<a id="link-6">text</a>
		</div>
		<div id="container-3">
			<div class="hide">text 1 2</div>
			<div id="div-1">text 1 2</div>
			<div class="hide">text 1</div>
			<div id="div-2">text 1</div>
			<div class="hide">text</div>
			<div id="div-3">text</div>
		</div>
		<div id="container-4">
			<a class="hide">&nbsp;text 1 2&nbsp;</a>
			<a id="link-7">&nbsp;text 1 2&nbsp;</a>
			<a class="hide">&nbsp;text 1&nbsp;</a>
			<a id="link-8">&nbsp;text 1&nbsp;</a>
			<a class="hide">&nbsp;text&nbsp;</a>
			<a id="link-9">&nbsp;text&nbsp;</a>
		</div>
	</body>
</html>
