j!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<style>
			.hide {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="container-1">
			<a>link-1</a>
			<a class="hide">link-2</a>
			<a>link-3</a>
			<a class="hide">link-4</a>
			<a>link-5</a>
			<a class="hide">link-6</a>
		</div>

		<div id="container-2">
			<a>link-7</a>
			<a class="hide">link-8</a>
			<a>link-9</a>
			<a class="hide">link-10</a>
			<a>link-11</a>
			<a class="hide">link-12</a>
		</div>
	</body>
</html>
